<h1>View your trips!</h1>
<<<<<<< HEAD
=======
<%= link_to 'Create a new trip', new_trip_path %>

>>>>>>> b2c672b81c7628177abb3216f3c3fc3b73177206
<ul>
  <% @trips.each do |trip| %>
    <li><%= link_to trip.name, trip %></li>
  <% end %>
</ul>
<%= link_to 'Create a new trip', new_trip_path %>
