// <h1>Here are your trips!</h1>
// <h1><%= @trip.name %></h1>
// <hr />
// <p>What would you like to do?</p>
// <%= link_to 'View Locations', trip_locations_path(@sub) %>
// <br />
// <%= link_to 'Edit Trips', edit_trip_path(@sub) %>
// <br />
// <%= link_to 'Delete Trip', @trip, method: :delete %>
